@font-face {
  font-family: "Victor Mono Medium";
  src: url('./fonts/VictorMono-Medium.woff') format('woff');
}
@font-face {
  font-family: "Victor Mono Regular";
  src: url('./fonts/VictorMono-Regular.woff') format('woff');
}
